// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.icon-online {
  font-size: 0.5em; color: green; vertical-align: top;
}

.icon-offline {
  font-size: 0.5em; color: Tomato; vertical-align: top;
}